*{
    margin: 0;
    padding: 0;
}

#description{
    text-align: left;
}

nav{
    background-color: #ffffff;
}


.navbar-brand{
    color: #0DC040;
    font-size: 1.5rem;
    font-family: bold;
}

.navbar-brand:hover{
    color: #0DC040;
    font-size: 1.5rem;
    font-family: bold;
    transform: scale(1.02);
    transition: transform 0.3s ease;   
}

.nav-link{
    color: #000000;
    font-size: 1.5rem;
    font-family: bold;
}

#description{
    font-size: 1.2rem;
}

.visit {
    font-size: 1.7rem; 
    color: #0DC040;
    font-family: "Times New Roman", Times, serif;
}

#dark:hover{
    background-color: #0DC040;
}

#light:hover{
    background-color: #0DC040;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}